<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <h1>Welcome to Blog App</h1>
    <ul>
        <li>
            <a href="/">home</a>
        </li>
        <li>
            <a href="/authors">Authors</a>
        </li>
    </ul>
    </nav>
    <main>
        <h1> Edit <%= author.name %></h1>
        <form action="/authors/<%= author._id %>?_method=PUT" method="POST">
            <input type="text" name="name" value="<%= author.name %>" />
            <input type="submit" value="Update" />
        </form>
    </main>
</body>
</html>