<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express Blog || Authors</title>
</head>
<body>
    <nav>
        <h1>Welcome to Blog App</h1>
        <ul>
            <li>
                <a href="/authors">Authors</a>
            </li>
            <li>
                <a href="/authors/new">Add an Author</a>
            </li>
        </ul>
    </nav>
    <main>
        <h2>List of Authors</h2>
            <% if (!authors.length) { %>
            <p>There are no authors available.</p>
            <% } %>
        <ul>
            <% authors.forEach(author => { %>
                <li>
                    <a href="/authors/<%= author._id %>"><%= author.name %></a>
                </li>
                
            <% }); %>
        </ul>
    </main>
</body>
</html>