<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <h1>Welcome to Blog App</h1>
        <ul>
            <li>
                <a href="/authors">Authors</a>
            </li>
            <li>
                <a href="/authors/new">Add an Author</a>
            </li>
        </ul>
    </nav>
    <main>
        <h2>Author Info</h2>
        <ul>
            <li>Name: <%= author.name %></li>
        </ul>
        <a href="/authors/<%= author._id %>/edit">Edit</a>
        <section>
            <form action="/authors/<%= author._id %>?_method=DELETE" method="POST">
                <input type="submit" value="Delete" />
            </form>
        </section>

        </ul>
    </main>
</body>
</html>